body{
  background-color:aliceblue;
}
h2{
  text-align: center;
  color: cornflowerblue;
}
.row {
    display: block;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
.container{
  margin: auto;
  border: 10px solid orangered;
  width: 50%;
  background-color:yellow;
}  
input{
  height: 25px;
}
label{
  font-weight: bold;
  padding-right: 10px;
}
button{
  border: none;
	border-radius: 5px;
  width: 150px;
  height:50px;
	background-color: #39cccc;
	font-size: 16px;
}
button:hover{
  color:blueviolet;
}
.attribution
{
	font-size: 1rem;
    line-height: 1.5;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
    color: red;
    opacity:60%;
}
